*{
  margin: 0;
  padding: 0;
}
.sea {
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: hidden; 
	background: linear-gradient(#3440e2, #0d0841);
}
#info{
	position: absolute;
	top: 5px;
	left: 85px;
	background-color: #03032b;
	padding: 2px 5px;
	width: fit-content;
	height: fit-content;
	border-radius: 7px;
	pointer-events: none;
}
#info p{
	color: aquamarine;
}
#stats{
	position: absolute;
	top: 100px;
}
#gameOver{
	position: absolute;
	margin: auto;
  top: 0; left: 0; bottom: 0; right: 0;
	background-color: #0c1266be;
	padding: 10px 10px;
	border-radius: 7px;
	width: max-content;
	height: fit-content;
	pointer-events: none;
	font-size: 30px;
	
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	opacity: 0;
}
#gameOver p{

	min-width: 200px;
	color: rgb(67, 31, 197);
	font-weight: bold;
	padding: 0px 20px;
	opacity: 0;
}